.home .user-name {
  font-weight: 700;
}
.home .dialog-model-name {
  margin-left: -1.25rem;
  border-left: 4px solid #ea3759;
  padding-left: 1.25rem;
  font-size: 30px;
}
.home .step-counter-text {
  font-size: 12px;
}
.home .step .step-content {
  padding-bottom: 2rem;
  border-bottom: 1px solid #ddd;
}
.home .step .step-content h6 {
  width: 100%;
  border-bottom: 1px solid #999;
  line-height: 0.1em;
  margin: 10px 0 20px;
}
.home .step .step-content h6 span {
  background: #fff;
  padding: 0 10px 0 0;
}
.home .step .step-content .field-identifier-info {
  font-size: 12px;
  margin-top: -10px;
}
.home .add-prompt .card {
  cursor: pointer;
  border: 2px dashed #ddd;
}
.home .add-prompt .card:hover {
  border: 2px dashed #333;
}
