a {
  color: inherit;
  text-decoration: none;
}
.qna-models-row .scenario-number {
  margin-bottom: -6px;
}
.qna-models-row .model-card .card-body-inner:hover .model-name {
  color: #FF7270;
}

.cursor-pointer {
  cursor: pointer;
}
.group-content{
  padding: 0.25rem 1rem;
}
.set-title{
  margin-left: -1.25rem;
  padding-left: 1.25rem;
  border-left: 4px solid #FF7270;
}

.set-card .card-body:hover .set-title .edit-icon{
  cursor: pointer;
  color: #aaa;
}

.set-title .edit-icon{
  color: transparent;
  font-size: 15px;
}
